<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ngVideo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body ng-controller="VideoController">

  <section class="ng-video-container">

    <!-- Base Directive -->
    <section class="video" ng-video>

      <!-- Screen Directive -->
      <video vi-screen></video>

      <vi-controls class="controls">
        <span vi-controls-play title="Play" class="glyphicon glyphicon-play"></span>
        <span vi-controls-pause title="Pause" class="glyphicon glyphicon-pause"></span>
      </vi-controls>

      <!-- Full Screen Directive -->
      <section class="full-screen">
        <span title="Full Screen" vi-full-screen-toggle class="glyphicon glyphicon-fullscreen"></span>
      </section>

      <!-- Feedback Directive (Angular component) -->
      <vi-feedback class="feedback">

        <!-- Volume Directive (Angular component) -->
        <vi-volume class="volume">

          <div class="scale">
            <div class="bar" style="width: {{volume * 100}}%"></div>
          </div>

          <span vi-volume-decrease title="Decrease Volume" class="decrease glyphicon glyphicon-minus"></span>
          <span vi-volume-increase title="Increase Volume" class="increase glyphicon glyphicon-plus"></span>

        </vi-volume>

      </vi-feedback>

      <!-- Playlist Directive (Angular component) -->
      <vi-playlist class="playlist" ng-show="playlistOpen">

        <ul>
          <li class="title">
            <span class="glyphicon glyphicon-facetime-video"></span> &nbsp;
            Playlist
            <div class="close-playlist"
                 title="Close Playlist"
                 ng-click="playlistOpen = !playlistOpen">
              &times;
            </div>
          </li>
          <li vi-playlist-video ng-repeat="video in playlistItems" ng-model="video">

            <span vi-meta ng-model="video" class="meta">
              {{duration | number: 2}}s
            </span>

            {{getVideoName(video)}}

          </li>
        </ul>

      </vi-playlist>

      <span title="Open Playlist"
            ng-show="!playlistOpen"
            ng-click="playlistOpen = !playlistOpen"
            class="open-playlist glyphicon glyphicon-facetime-video">
      </span>

    </section>

  </section>

</body>
</html>
