/* Bootstrap Glyphicons - subset needed for controls */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css');

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

section.ng-video-container {
    width: 550px;
    height: 310px;
    margin: 40px auto auto auto;
}
